/* .H2{
    margin: 200px;
    margin-left: 550px;
    font-size: 15px;
    border-color: rgb(15, 15, 15);
    box-shadow:5px 5px 5px 5px rgb(117, 113, 113) ;
    width:600px;
    height: auto;
    
   
}
label text{
    display: inline-block;
    width: 150px;
    text-align: center;
}
input{
    width: 300px;
    padding: 5px;
    margin-left: 20px;

}
textarea{
    width: 300px;
    text-align: center;
   margin-left: 180px;
} */
