
.Teacher {
    display: flex;
    width:2000px;
}
.SideBar{
    width: 250px;
    height: 850px;
}
  
    .StudentContainer {
      flex: 6;
      width: 1000px;
    }
  
      .widgets
       {
        display: flex;
        padding: 20px;
        gap: 20px;
        width: 1570px;
      
      }
      
      /* .feature{
        width: 500px;
        height: 600px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
 
    box-shadow: 2px 4px 10px 1px rgba(14, 10, 10, 0.47); 
      }
  
      .charts {
        padding: 5px 20px;
       
      } */
  
   
  




